*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 5rem 15rem;
  font-family: sans-serif;
  box-sizing: border-box;
}

.text-s {
  font-size: 1.4rem;
}

.text-xs {
  font-size: 1.2rem;
  font-weight: 700;
}
